<!-- /sections/section-html.liquid -->
<div class="section-{{ section.id }} section-html{% unless section.settings.full_width %} wrapper{% endunless %}">
  <br>
  <p>{{ section.settings.text }}</p>
  <br><br><br>
  {{ section.settings.html1 }}
  <br>
  {{ section.settings.html }}
  <br><br><br><br><br>
</div>
<style>

  .section-{{ section.id }} .hero__title {
    font-family: Futura !important;
    text-transform: none !important;
  }

  .section-{{ section.id }} .hero__title a {
    font-family: Futura !important;
    text-transform: none !important;
  }
  
  .section-html
  {
    text-align:center;
  }

  .section-html p {
    font-family: Futura !important;
    font-weight: 500;
  }

  .make,.whatelse
  {
    color:#FF5D00;
    font-size:1rem;
    margin:0px 5px;
    position:relative;
    letter-spacing:1rem;
  }
  .make:after,.whatelse:after
  {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -5px;
    right: 15px;
    height: 1px;
    background: #FF5D00;
  }
  .t
  {
    position:relative;
    font-size:5rem;
  }
   .t sup
  {
    top:-2em;
    font-size:1.5rem;
  }
  .t:after {
        content: "";
        display: block;
        width: 100px;
        height: 5px;
        background: #FF5D00;
        right:38%;
        top: 58%;
        position: absolute;
      }
  @media screen and (max-width:768px)
  {
    .t:after {
      right:25%;
       width:70px;
    }
  }
</style>
{% schema %}
{
  "name": "Custom About",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Full width"
    },
    {
      "type": "liquid",
      "id": "html1",
      "label": "Custom HTML",
      "default": "<div style='text-align: center; padding: 90px 0;'><h2 class='home__subtitle'>Custom HTML</h2><p>Add your custom HTML here.</p></div>"
    },
    {
      "type": "liquid",
      "id": "html",
      "label": "Custom HTML",
      "default": "<div style='text-align: center; padding: 90px 0;'><h2 class='home__subtitle'>Custom HTML</h2><p>Add your custom HTML here.</p></div>"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Custom About"
    }
  ]
}
{% endschema %}
