<!-- /sections/section-html.liquid -->
<div class="section-html-{{ section.id }}">
  <div class="left-block">
    <div class="one-line">
      <h2>{{ section.settings.heading }}</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="img"
        width="2em"
        height="2em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M12 20v-8m0 0V4m0 8h8m-8 0H4"/>
      </svg>
    </div>
    <p>{{ section.settings.text }}</p>
  </div>
  {% comment %}
    <div class="right-block">
      <a class="shop-all" href="{{ section.settings.link }}">
        {{ section.settings.link-title }}
      </a>
    </div>
  {% endcomment %}
</div>
<style>
  .section-html-{{section.id}}
  {
    display:flex;
    justify-content:center;
    align-items:baseline;
    flex-wrap:wrap;
    padding:0px 5% 50px 5%;
    background-color:#F1F1F1;
  }
  .left-block
  {
    width:50%;
    padding:0px 5%;
  }
  .left-block .one-line h2
  {
    font-family: Switzer-Semibold !important;
    text-align:left;
    text-transform: none !important;
  }
  .left-block p {
    font-family: Switzer-Regular !important;
    text-align:left;
  }
  .right-block
  {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .shop-all
  {
    text-decoration:underline;
    color:#EBA443;
    font-size:1.5rem;
  }
  .one-line h2
  {
    display:inline-block;
    width:88%;
  }
  .one-line svg
  {
    display:inline-block;
  }
  @media screen and (max-width:768px)
  {
    .left-block
    {
      width:100%;
    }
    .right-block
    {
      width:100%;
    }

  }
</style>
{% schema %}
{
  "name": "Custom text plus",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link-title",
      "label": "link text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Custom text plus"
    }
  ]
}
{% endschema %}
