<div class="Featured4 cs-{{ section.id }}">
  {% if section.settings.heading != blank %}
   <h6 style="width:100%;">{{ section.settings.heading }}</h6>
  {% endif %}
  {% if section.settings.sub-heading != blank %}
   <p style="width:100%;">{{ section.settings.sub-heading }}</p>
  {% endif %}
  <br><br>
  <div class="Featured4-left">
   <a href="{{ section.settings.link }}">
      <img src="{{ section.settings.image0 | img_url:'master' }}">
    </a>
    <img class="abs1" src="{{ section.settings.image2 | img_url:'master' }}">
  </div>
  <div class="Featured4-right">
    <a href="{{ section.settings.link1 }}">
      <img src="{{ section.settings.image1 | img_url:'master' }}">
    </a>
     <img class="abs2" src="{{ section.settings.image3 | img_url:'master' }}">
     <img class="abs3" src="{{ section.settings.image4 | img_url:'master' }}">
  </div>
  
</div>
<style>
  
  .Featured4
  {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding: 280px 5% 50px 5%;
    text-align:center;
  }
  .Featured4-left
  {
    width:50%;
    max-width:50%;
    text-align:center;
    padding:20px;
    position:relative;
  }
  
  .Featured4-right
  {
    width:50%;
    max-width:50%;
    text-algin:center;
    padding:20px;
    position:relative;
  }
  .Featured4 img
  {
    max-width:100%;
  }
  .abs1
  {
    position: absolute;
    left: 0;
    max-width: 230px !important;
    top: -160px;
  }
  .abs2
  {
    position: absolute;
    max-width: 230px !important;
    top: -160px;
    right: 70px;
  }
  .abs3
  {
    position: absolute;
    max-width: 230px !important;
    top: -280px;
    right: 0px;
  }
  @media screen and (max-width:940px)
  {
    .abs1,.abs2,.abs3
    {
      display:none;
    }
    .Featured4
    {
      padding:30px 5%;
    }
    .Featured4-left,.Featured4-right
    {
      width:100%;
      max-width:100%;
    }
  }
  
</style>
{% schema %}
{
  "name": "Featured4",
  "settings": [
    {
          "type": "text",
          "id": "heading",
          "label": "Heading"
    },
    {
          "type": "text",
          "id": "sub-heading",
          "label": "Heading"
    },
    {
          "type": "image_picker",
          "id": "image0",
          "label": "Image"
    },
    {
          "type": "url",
          "id": "link",
          "label": "Link"
    },
    {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
    },
    {
          "type": "url",
          "id": "link1",
          "label": "Link"
    },
    {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
    },
    {
          "type": "image_picker",
          "id": "image3",
          "label": "Image"
    },
      {
          "type": "image_picker",
          "id": "image4",
          "label": "Image"
    }
    
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Featured 4"
    }
  ]
}
{% endschema %}