<div class="latest-video cs-{{ section.id }}">
  {% if section.settings.heading != blank %}
   <h3 style="width:100%;">{{ section.settings.heading }}</h3>
  {% endif %}
  {% if section.settings.heading1 != blank %}
   <h3 style="width:100%;">{{ section.settings.heading1 }}</h3>
  {% endif %}
  <div class="latest-video1">
   <a href="{{ section.settings.link }}">
      <img src="{{ section.settings.image | img_url:'master' }}">
      <div class="bottom-div">
        <h4>{{ section.settings.title }}</h4>
        <p>{{ section.settings.sub-heading }}</p>
      </div>
    </a>
  </div>
  <div class="latest-video2">
    <a href="{{ section.settings.link1 }}">
      <img src="{{ section.settings.image1 | img_url:'master' }}">
      <div class="bottom-div">
        <h4>{{ section.settings.title1 }}</h4>
        <p>{{ section.settings.sub-heading1 }}</p>
      </div>
    </a>
  </div>
  
</div>
<style>
  .cs-template--15668429029571__16610016446762d30b
  {
    background-color:#F1F1F1;
  }
  .latest-video
  {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding:50px 5%;
  }
  .latest-video1
  {
     width:50%;
     max-width:50%;
    text-align:left;
    padding:20px;
  }
  
  .latest-video2
  {
    width:50%;
    max-width:50%;
    text-algin:left;
    padding:20px;
  }
  .latest-video img
  {
    max-width:100%;
  }
  .bottom-div
  {
    border-top:2px solid #4C4B4C;
    border-bottom:2px solid #4C4B4C;
    margin:20px 0px;
  }
  @media screen and (max-width:768px)
  {
   
    .latest-video1,.latest-video2
    {
      width:100%;
      max-width:100%;
    }
  }
</style>
{% schema %}
{
  "name": "latest-video",
  "settings": [
    {
          "type": "text",
          "id": "heading",
          "label": "Heading"
    },
    {
          "type": "text",
          "id": "heading1",
          "label": "Heading"
    },
    {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
    },
    {
          "type": "text",
          "id": "title",
          "label": "Heading"
    },
    {
          "type": "text",
          "id": "sub-heading",
          "label": "Sub-Heading"
    },
    {
          "type": "url",
          "id": "link",
          "label": "Link"
    },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
    },
    {
          "type": "text",
          "id": "title1",
          "label": "Heading"
    },
    {
          "type": "text",
          "id": "sub-heading1",
          "label": "Sub-Heading"
    },
    {
          "type": "url",
          "id": "link1",
          "label": "Link"
    }
    
  ],
  "presets": [
    {
      "category": "Text",
      "name": "latest-video"
    }
  ]
}
{% endschema %}